.addb{

    margin-bottom: 40px;
    margin-left: 80%;
    border-radius: 6px;
border: 1px solid rgba(255, 255, 255, 0.50);
background: rgba(217, 217, 217, 0.12);
width: 154px;
height: 40px;
}
.AddCtetctc{
 text-align: center;

color: #FFF;
    margin-top: 11px;
font-family: Lufga;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}