.maargleft2 {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
}

.divboxhome {
  width: 457px;
  height: 242px;
  padding: 20px;
  border-radius: 7.635px;
  background: rgba(255, 255, 255, 0.22);
}

.text1 {
  color: #fff;
  font-family: Lufga;
  font-size: 18px;
  font-weight: 600;
}

.text2 {
  color: #fff;
  font-family: Lufga;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.displayone{

display: flex;
}