.project-table-wrapper {
  background: rgba(15, 5, 40, 0.6);
  padding: 25px;
  border-radius: 20px;
  color: white;
  font-family: "Lufga", sans-serif;
}

.header-row {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr 1fr;
  padding: 12px 20px;
  margin-bottom: 15px;
  opacity: 0.7;
  font-size: 15px;
}

.lines-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
}