.boxsesnew{
    width: 457px;
height: 152px;
border-radius: 7.635px;
background: rgba(255, 255, 255, 0.22);
}
.boxblogsdiv{
        padding: 0px 100px;
    display: flex;
    gap: 50px;
    /* flex-direction: column; */
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}