body {
  margin: 0;
  padding: 0;
}

.maargleft3 {
  min-height: 100vh;
  background-image: url("../Assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  padding-bottom: 80px;
  margin-left: 250px !important;
}


.twdivs {
  display: flex;
  gap: 50px;
  margin: 50px;
  flex-wrap: wrap; 
}


.boxses2 {
  display: flex;
    flex-wrap: wrap; 
  flex-direction: column;
  gap: 25px;
  flex: 1;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}


@media (max-width: 1800px) {
  .twdivs {
    flex-wrap: wrap; 
    justify-content: center;
  }

  .boxses2 {
    flex: 0 0 45%;
  }
}


@media (max-width: 820px) {
  .maargleft3 {
    margin-left: 0px !important;
  }

  .twdivs {
    margin: 20px;
    gap: 30px;
  }

  .boxses2 {
    flex: 0 0 100%;
    align-items: center;
  }
}