.skills-page {
  width: 100%;
  height: 100vh;
  background-image: url("../Assets/bg.png"); /* غيّري المسار حسب مكان الصورة */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}