.skills-page {

  height: 100%;
  background-image: url("../Assets/bg.png"); /* غيّري المسار حسب مكان الصورة */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.maargleft {
    margin-left: 250px;
}
.boxses{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.boxses2{
    justify-content: center;
margin-bottom: 50px;
     display: flex;
    flex-direction: row;
    gap: 50px;
}