
.maargleft {
    margin-left: 250px;
}
.boxses{

    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.boxses2{
      flex-wrap: wrap;
    justify-content: center;
margin-bottom: 50px;
     display: flex;
    flex-direction: row;
    gap: 50px;
}



.maargleft3 {
  height: 100%;
  background-image: url("../Assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  margin-left: 250px !important;
}
@media (max-width: 820px) {
  .maargleft3 {
    margin-left: 0px !important;
  }

.boxses2 {
    justify-content: center;
    /* margin-bottom: 50px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 75px auto 0px auto;
}}