@import url('https://fonts.googleapis.com/css2?family=Lufga:wght@300;400;500;600&display=swap');

.profileinfo {
  width: 90%;
  max-width: 1100px;
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 22px;
  margin: 0 auto;
  font-family: "Lufga", sans-serif;
  color: #ffffff;
}

.profileinfo-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 18px;
}

.profileinfo-text {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 25px;
  width: 95%;
}

.profileinfo-line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.22);
  margin: 20px 0 30px;
}

.profileinfo-row {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.profileinfo-item {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 300;
}


.profileinfo-item::first-letter {
  font-weight: 600;
}

@media (max-width: 768px) {
  .profileinfo {
    padding: 25px;
  }
  .profileinfo-row {
    flex-direction: column;
    gap: 20px;
  }
}