.traffic{
    width: 320px;
height: 347px;
    border-radius: 15px;
background: #21023A;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.igtraffic{

}
.text{
    color: #E3E3E3;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}