.traffic{
width: 331px;
    height: 338px;
    border-radius: 15px;
background: #21023A;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.igtraffic{

    justify-content: center;
    margin: 20px 0px ;
    gap: 20px;
    flex-direction: row;
 display: flex;
}
.text{
    color: #E3E3E3;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}
.h1text{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    color: #E3E3E3;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.32px;
}