.title{
    padding: 50px 0px 25px 0px ;
    color: #FFF;
font-family: Lufga;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 48px */
}

@media (max-width: 820px) {
  .title {
    padding: 121px 0px 25px 0px;

}
}